<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name='robots' content='noindex,nofollow' />
<title>{{ title }}</title>
{% if description is defined %}
<meta name="description" content="{{ description }}">
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
{% include 'templates/head.twig' %}
{% block ContentStyleBlock endblock %}
</head>
<body>
{% block ContentBodyBlock endblock %}
</body>
</html>