
### Site Config ###

SITE_NAME='Your Site Name'

TIME_ZONE='Asia/Tokyo'

### Data Source ###

AUTHOR_SOURCE='./storage/_author.json'

PRODUCT_SOURCE='./storage/_product.json'

### API Key ###

API_KEY='hogehoge'

API_SALT='M85V.LLt6-mjOH0KOCb:95HTAxT-oPJ~L2}nRuc+i`E`4l{sW3~fe+B9Ou:7Ey_H'

### Debug Mode ###

DEBUG=false
