
### Site Config ###

SITE_NAME='Your Site Name'

TIME_ZONE='Asia/Tokyo'

### Data Source ###

AUTHOR_SOURCE='./storage/_author.json'

PRODUCT_SOURCE='./storage/_product.json'

### API Salt ###

API_SALT='hogehoge'

### Debug Mode ###

DEBUG=false
