{% extends 'templates/layout.twig' %}
{% block content %}

<!-- HEADER -->
<div class="site">

	<header class="site-header">

		<div class="heroe">

			<h1>API Server</h1>

			<p>The RESTful API with slim framework.</p>
			
			<p><pre><code>{{home_url}}/posts</code></pre></p>

		</div>
	</header>

	<footer class="site-footer">

		<div class="copyrights">

			<p>&copy; API &#124; el.kulo.</p>

		</div>

	</footer>

</div>

{% endblock %}